
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    overflow:auto;
    height: 100vh;
}
.background{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,10)rgba(0,0,0,10));
    background-image: url(Img/pexels-cottonbro-5473302.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: content;
    gap: 5px;
}

header{
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
}
#btn-mobile{
    display: none;
}
.menu-mobile{
display: none;
}
.cabeçalho-link {
    display: flex;
    gap: 2rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a {
    color: white;
    font-size: 18px;
}

.cabeçalho-link a:hover {
    color: rgb(19, 167, 117);
    transition: 0.3s all;

}


img{
    height: 120px;
    width:120px;
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    border-radius: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    justify-items:auto;
}

button{
    color: #2ecc71;
    border-radius: 15px;
    background: transparent;
    border: solid 1px #2ecc71;
    padding: 5px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: #2ecc71;
    color: white;
    transition: 0.5s;
}

.container-text{
    color: white;
    text-shadow: 0.1em 0.1em #333;
    padding: 0px 20px;
    
}

.text h3{
    color: fff;
    font-size: 26 px;
}
.text h1{
    color: fff;
    margin-top: 18px;
    font-size: 40px;
}

.text span{
    color: #2ecc71;
}
.text p{
    color: fff;
    font-size:22px;
    font-weight: 300;
    margin-top: 10px;
}

#container-text.redes-sociais{
    width: 40px;
    height: 40px;
}

.redes-sociais{
    display: flex;
    padding: 10px;
    margin-top: 20px;
    background-color: gray;
    width:fit-content;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(245, 245, 245, 0.411);
}
.fa-brands{
    color:#2ecc71;
}

.btn{
    margin-top: 10px;
}

footer{
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: none;
    color: var(--color-neutral-40);
    margin-bottom: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: var(--color-neutral-10);

}
.footer_link{
    text-decoration: none;
}
#footer_content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0px ;
    
}
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;

}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
    
}

#whatsapp {
    background: linear-gradient(green,black);
    align-content:center;
    justify-content:center;
    display: flex;
    align-items: center;
}

#telegram {
    background: linear-gradient(black, #2DA3D3,black);
    align-content:center;
    justify-content:center;
    display: flex;
    align-items: center;
}
.footer_list{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer_list .footer-link{
    color: var(--color-neutral-30);
}
.footer_list .footer-link:hover{
    background: linear-gradient(green,black);
}

.footer_copyright{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-color: #2DA3D3;
    text-align: center;
}

#footer_subscribe{
    display: flex; 
    flex-direction: column;
    gap: 8px;
}

#input_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}




/* Versão------------ Mobile*/

@media screen and (max-width: 630px){

    * {
        justify-content: center;
        text-align: center;
    }
    body{
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
   
    a {
        color: black;
        text-decoration: none;
        font-family: sans-serif;
        width: 100%;
    }

    a:hover{
        background: rgba(0, 0, 0,.05);
    }
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }
    
    header{ 
        box-sizing: border-box;
        height:100%;
        display: flex;
        align-items: left;
    }
    .cabeçalho-link{
        display: none;
    }
    .menu-mobile{
        display: block;
        margin-top: 60px;
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        padding: 20px 10px;
        background-color:#2ecc70ec;
        flex-direction: column;
        visibility: hidden;
        transition: 0.5s;
        border-radius: 10px;

    }
    .menu-mobile a:hover{
        background-color: green;
        transition: 0.5s;

    }
    .menu-mobile.abrir{
        visibility: visible;
        height:100%;
    }
    #btn-mobile{
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 15px;
        right: 15px;
        transition: 1s;
        align-items: center;
    }

    #menu-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
    }

    .menu-list.show{
        display: block;
    
    }
    

    .redes-sociais{
        width: auto;
        
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--color-neutral-10);
        align-content: center;
        align-items: center;
        box-sizing: border-box;

    }

    #footer_contacts{
        width: 100%;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer_content{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    #footer_subscribe{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    #footer_social_media{
        width: 30vw;
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .footer_copyright{
        display: flex;
        width: 100vw;

    }
    .footer_list{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    #input_group{
        align-items: center;
        gap: 5px;
    }
}